 
<a href="#/view1">Go to view1</a><br/>
<a href="#/view2">Go to view2</a>



 <div ng-controller="HelloController">
        <input ng-model="name" type="text" /> hello{{name}}
        <br> Person:{{Person}} Person.name:{{Person.name|uppercase}}
        <a ng-click="add(1)" class="button">add</a>
        
    </div>
    <my-directive></my-directive>
    <ul ng-controller="HelloController">
        <li ng-repeat="person in people">
            {{person.name}} lives in {{person.city}}
        </li>
    </ul>


