<ul class="sf-menu sf-navbar">
    <li><a href="#/">系统首页</a></li>
    <li class="arw"><a href="#/organization/tree.do">组织架构</a>
        <ul class="u_1">
            <li><a href="#/organization/tree.do" class="m_icon_19">安置图</a></li>
            <li><a href="#/organization/tree.do" class="m_icon_22">直荐图</a></li>
        </ul>
    </li>
    <li class="arw">
        <a href="#/percenter/percenter.do">个人中心</a>
        <ul class="u_2">
            <li><a href="#/percenter/percenter.do" class="m_icon_15">个人信息</a></li>
            <li><a href="#/percenter/percenter.do" class="m_icon_10">修改密码</a></li>
        </ul>
    </li>
    <li class="arw"><a href="#/meet/list.do">会议中心</a>
        <ul class="u_3">
            <li><a href="#/meet/list.do" class="m_icon_9">会议查询</a></li>
            <li><a href="#/meet/list.do" class="m_icon_3">参加会议</a></li>
            <li><a href="#/meet/list.do" class="m_icon_6">修改会议</a></li>
            <li><a href="#/meet/list.do" class="m_icon_14">退出会议</a></li>
            <li><a href="#/meet/list.do" class="m_icon_20">历史查询</a></li>
        </ul>
    </li>
    <li class="arw"><a href="#">管理中心</a>
        <ul class="u_4">
            <li><a href="#" class="m_icon_14">会员管理</a></li>
            <li><a href="#" class="m_icon_13">内容管理</a></li>
            <li><a href="#" class="m_icon_3">会议管理</a></li>
            <li><a href="#" class="m_icon_13">系统管理</a></li>
            <li class="li_line"><a href="#" class="m_icon_15">操作员信息</a></li>
        </ul>
    </li>
    <li><a href="#">在线客服</a>
    </li>
</ul>
