<!--页面边框-->
<div class="main_page_box" data-ng-controller="shell as vm">
    <!--顶栏开始-->
    <div class="main_top">
        <div class="main_logo"></div>
        <div class="main_top_link">
            <a href="pages/other/help.html" target="mainiframe">帮 助</a>|<a href="pages/other/map.html" target="mainiframe">地 图</a>|
        </div>
        <div class="main_top_logout" onclick="window.location='/login.html';">退 出</div>
        <div class="main_top_line"></div>
        <!--导航菜单开始-->
        <div class="main_top_menu" ng-include="'app/layout/menubar.html'">
        </div>
        <!--导航菜单结束-->
    </div>
    <!--顶栏结束-->
    <!--中栏开始-->
    <div class="main_center">
        <!--快捷菜单开始-->
        <div class="main_left" id="leftbox" ng-include="'app/layout/sidebar.html'">
            
        </div>
        <!--快捷菜单结束-->
        <div class="main_right" id="rightbox">
            <div class="main_right_user">
                <div class="user_box1"></div>
                <div class="msg_box1"></div>
                <div class="search_box1"></div>
                <div class="help_box">在线客服</div>
            </div>
            <div ng-view></div>
            <!--<iframe id="mainiframe" name="mainiframe" scrolling="no" frameborder="0" allowtransparency="true" src="pages/welcome.html" width="100%" onload="this.height=550;"></iframe>-->
        </div>
    </div>
    <!--中栏结束-->
    <!--底栏开始-->
    <div class="main_bottom">
        <div class="cpe_box"></div>
        <div class="copyright_box">
            <a href="#">关于权健</a>
            <a href="#">诚征英才</a>
            <a href="#">联系我们</a>
            <a href="#">服务协议</a>
            <a href="#">International Business</a>
            <br/> Copyright &copy; 2014-2015 Webank. All Rights Reserved. 权健股份有限公司 粤ICP备14074715号-1
        </div>
    </div>
    <!--底栏结束-->
    <div class="clear"></div>
</div>