/*------------------------------------------------------------ 全局样式-----------------------------------------------------------------------*/
body{
position:relative;
width:100%;
min-width:1004px; 
width:expression_r(document.body.clientWidth > 1004? "1004px": "auto" ); /*IE6用的*/
height:auto; 
font-family:Microsoft YaHei;
font-size:12px; 
color: #333333; 
text-align:center;
background-color:#efefef;
margin:0;
padding:0;
text-align:center;
}
*{ margin:0; padding:0;}
a {star : expression(onfocus=this.blur)} 

.bg_left{
position: absolute;
width:240px;
height:150px;
bottom:0px;
left:0px;
background:url(../imgs/pagebg_left.png) no-repeat left bottom;
z-index:10;
}
.bg_right{
position: absolute;
width:240px;
height:150px;
bottom:0px;
right:0px;
background:url(../imgs/pagebg_right.png) no-repeat right bottom;
z-index:10;
}
/*---------------------------------------------------------------主页面样式------------------------------------------------------------------*/
.main_page_box{
position:relative;
margin:0px auto;
width:1000px;
height:auto;
text-align: left;
overflow:hidden;
/*圆角边框样式
-webkit-border-radius: 15px; 
-moz-border-radius: 15px; 
border-radius: 15px; */
/*边框阴影样式开始*/
-webkit-box-shadow:0 0 24px #c2c2c2;
-moz-box-shadow:0 0 24px #c2c2c2;
box-shadow: 0 0 24px #c2c2c2; 
/*边框阴影样式结束*/
background: #ffffff; 
behavior: url(css/PIE/PIE.htc);
z-index:25;
}


/*---------------------框架样式---------------------*/
.main_top{
position:relative;
margin:0px;
width:1000px;
height:114px;
text-align: left;
z-index:300;
}
.main_center{
position:relative;
width:1000px;
height:auto;
min-height:563px;
text-align: left;
margin:0px;
padding:0px;
z-index:50;
}
.main_bottom{
position:relative;
width:100%;
height:145px;
line-height:45px;
margin:0px;
text-align: center;
font-size:12px; 
font-weight:500;
color: #92793d; 
background-color:#f5f5f5;
overflow:hidden;
}
.cpe_box{
position:relative;
width:90%;
height:auto;
min-height:30px;
margin:0px auto 0px auto;
text-align: center;
font-size:12px; 
font-weight:500;
color: #949494;
border-bottom:#ebebeb solid 1px;
overflow:hidden;
}
.copyright_box{
position:relative;
width:90%;
height:auto;
min-height:35px;
line-height:25px;
margin:10px auto 0px auto;
text-align: center;
font-size:12px; 
font-weight:500;
color: #949494;
overflow:hidden;
}
.copyright_box a{
font-size:12px;
margin:0px 6px 0px 6px;
padding:0px;
font-family:Microsoft YaHei;
color: #949494;
text-decoration:none;
}
.copyright_box a:hover{
font-size:12px;
margin:0px 6px 0px 6px;
padding:0px;
font-family:Microsoft YaHei;
color: #0094ff;
text-decoration: underline;
}
.zs_box{
position:relative;
width:90%;
height:36px;
margin:0px auto 0px auto;
background:url(../imgs/zhengshu.png) no-repeat center center;
}
/*-------------------------------------------------------------*/
.main_logo{
position: absolute;
width:250px;
height:71px;
top:15px;
left:20px;
background:url(../imgs/logo.png) no-repeat 0 0;
}
.main_top_link{
position: absolute;
width:auto;
height:30px;
top:5px;
right:75px;
font-size:10px; 
font-weight:500;
color: #707980;
}
.main_top_link a{
width:auto;
height:30px;
line-height:30px;
font-size:12px;
margin:0px 13px 0px 13px;
padding:0px;
font-family:Microsoft YaHei;
color: #707980;
text-decoration:none;
}
.main_top_link a:hover{
width:auto;
height:30px;
line-height:30px;
font-size:12px;
margin:0px 13px 0px 13px;
padding:0px;
font-family:Microsoft YaHei;
color: #0094ff;
text-decoration:none;
}
.main_top_logout{
position: absolute;
top:11px;
right:10px;
width:64px;
height:22px;
line-height:21px;
text-align:center;
font-size:12px; 
font-weight:500;
color: #707980; 
cursor:pointer;
}
.main_top_logout:hover{
top:11px;
right:10px;
width:60px;
height:22px;
line-height:21px;
text-align:center;
font-size:12px; 
font-weight:500;
color: #ffffff; 
cursor:pointer;
/*以下是圆角阴影样式*/
border:solid 0px #ffffff;
-webkit-border-radius: 4px; 
-moz-border-radius: 4px; 
border-radius: 4px; 
background: #0094ff; 
behavior: url(css/PIE/PIE.htc);
}
.main_top_line{
position: absolute;
width:100%;
height:3px;
font-size:0px;
background-color:#707980;
bottom:0px;
left:0px;
}
.main_top_menu{
position: absolute;
width:auto;
max-width:650px;
height:35px;
top:70px;
right:20px;
z-index:200;
}

/*------------------快捷菜单------------------*/
.main_left{
/*-------随屏幕浮动式样
position:fixed;
top:200px;
left:10px;*/
position: absolute;
top:0px;
left:0px;
width:92px;
height:100%;
text-align: center;
display:block;
z-index:50;
/*边框阴影样式开始*/
-webkit-box-shadow:0 0 24px #d0d0d0;
-moz-box-shadow:0 0 24px #d0d0d0;
box-shadow: 0 0 24px #d0d0d0; 
/*边框阴影样式结束*/
background: #707980; 
behavior: url(css/PIE/PIE.htc);
background-color:#707980;
}
.main_left ul{
list-style:none;
float:left;
width:92px;
height:auto;
margin:-1px 0px 0px 0px;
padding:0px 0px 0px 0px;
overflow: hidden;
}
.main_left ul li{
float:left;
list-style:none;
width:92px;
height:auto;
margin:0px;
text-align:center;
font-family:Microsoft YaHei;
font-size:15px; 
font-weight:500;
border-top: solid #7c868e 1px;
border-bottom: solid #646c73 1px;
}
.main_left ul li a{
display:block;
width:92px;
height:92px;
line-height:158px;
margin:0px;
text-align:center;
font-family:Microsoft YaHei;
font-size:12px; 
font-weight:500;
color: #ffffff;
background-color:#707980;
text-decoration:none;
}
.main_left ul li a:hover{
display:block;
width:92px;
height:92px;
line-height:158px;
margin:0px;
text-align:center;
font-family:Microsoft YaHei;
font-size:12px; 
font-weight:500;
color: #ffffff;
background-color:#339dda;
text-decoration:none;
}
.icon_0{background:url(../imgs/icon/icon_set.png) no-repeat center 10px;}
.icon_1{background:url(../imgs/icon/icon1.png) no-repeat center 10px;}
.icon_2{background:url(../imgs/icon/icon2.png) no-repeat center 10px;}
.icon_3{background:url(../imgs/icon/icon3.png) no-repeat center 10px;}
.icon_4{background:url(../imgs/icon/icon4.png) no-repeat center 10px;}
.icon_5{background:url(../imgs/icon/icon5.png) no-repeat center 10px;}
.icon_6{background:url(../imgs/icon/icon6.png) no-repeat center 10px;}
.icon_7{background:url(../imgs/icon/icon7.png) no-repeat center 10px;}
.icon_8{background:url(../imgs/icon/icon8.png) no-repeat center 10px;}
.icon_9{background:url(../imgs/icon/icon9.png) no-repeat center 10px;}
.icon_10{background:url(../imgs/icon/icon10.png) no-repeat center 10px;}
.icon_11{background:url(../imgs/icon/icon11.png) no-repeat center 10px;}
.icon_12{background:url(../imgs/icon/icon12.png) no-repeat center 10px;}
.icon_13{background:url(../imgs/icon/icon13.png) no-repeat center 10px;}
.icon_14{background:url(../imgs/icon/icon14.png) no-repeat center 10px;}
.icon_15{background:url(../imgs/icon/icon15.png) no-repeat center 10px;}
.icon_16{background:url(../imgs/icon/icon16.png) no-repeat center 10px;}
.icon_19{background:url(../imgs/icon/icon19.png) no-repeat center 10px;}
.icon_22{background:url(../imgs/icon/icon22.png) no-repeat center 10px;}

.main_right{
/*position: absolute;
top:0px;
right:0px;*/
position: relative;
float:right;
width:908px;
height:auto;
min-height:450px;
text-align: left;
display:block;
z-index:40;
background-color:#ffffff;
}
.main_right_user{
position: relative;
width:100%;
height:45px;
margin:0px 0px 10px 0px;
text-align: left;
display:block;
z-index:30;
/*边框阴影样式开始*/
-webkit-box-shadow:0 0 10px #d0d0d0;
-moz-box-shadow:0 0 10px #d0d0d0;
box-shadow: 0 0 10px #d0d0d0; 
/*边框阴影样式结束*/
background: #ffffff; 
behavior: url(css/PIE/PIE.htc);
}
.main_right_user .user_box1{
float:left;
width:45px;
height:45px;
margin:0px;
border-right: solid #f1f2f0 1px;
background:url(../imgs/pic_user.png) no-repeat center center;
cursor:pointer;
}
.main_right_user .msg_box1{
float:left;
width:45px;
height:45px;
margin:0px;
text-align:center;
font-family:Microsoft YaHei;
font-size:15px; 
font-weight:500;
border-right: solid #f1f2f0 1px;
background:url(../imgs/pic_msg.png) no-repeat center center;
cursor:pointer;
}
.main_right_user .search_box1{
float:left;
width:45px;
height:45px;
margin:0px;
border-right: solid #f1f2f0 1px;
background:url(../imgs/pic_search.png) no-repeat center center;
cursor:pointer;
}
.main_right_user .user_box1:hover,
.main_right_user .msg_box1:hover,
.main_right_user .search_box1:hover{
background-color:#F2F2F2;
}
.main_right_user .help_box{
position:absolute;
top:0px;
right:10px;
width:85px;
height:45px;
line-height:45px;
margin:0px;
text-align:right;
font-family:Microsoft YaHei;
font-size:12px; 
font-weight:500;
color: #0094ff;
background:url(../imgs/pic_24h.png) no-repeat left center;
cursor:pointer;
}












/*---------------------------------------------------------------公共样式------------------------------------------------------------------*/
.cover_box{
position: fixed;
width:100%;
height:100%;
background-color:#333333;
z-index:1000;
filter:alpha(opacity=30); /*IE滤镜，透明度60%*/
-moz-opacity:0.3; /*Firefox私有，透明度60%*/
opacity:0.3;/*其他，透明度60%*/
display:none;
}

.tsdw_box{
position: relative;
width:100%;
height:100%;
}
.tcts_box{
position: absolute;
top:52px;
left:210px;
width:auto;
height:auto;
text-align:left;
font-family:Microsoft YaHei;
font-size:18px; 
font-weight:700;
color: #ffffff;
}
.no_btn{
position: absolute;
top:45px;
left:110px;
width:70px;
height:35px;
line-height:35px;
text-align:center;
font-family:Microsoft YaHei;
font-size:16px; 
font-weight:700;
color: #0094ff;
/*以下是圆角阴影样式*/
border:solid 1px #0094ff;
-webkit-border-radius: 16px; 
-moz-border-radius: 16px; 
border-radius: 16px; 
background: #dddddd; 
behavior: url(../css/PIE/PIE.htc);
cursor:pointer;
}
.yes_btn{
position: absolute;
top:45px;
left:315px;
width:70px;
height:35px;
line-height:35px;
text-align:center;
font-family:Microsoft YaHei;
font-size:16px; 
font-weight:700;
color: #0094ff;
/*以下是圆角阴影样式*/
border:solid 0px #0094ff;
-webkit-border-radius: 16px; 
-moz-border-radius: 16px; 
border-radius: 16px; 
background: #ffffff; 
behavior: url(../css/PIE/PIE.htc);
cursor:pointer;
}
.ts_box2{
position: fixed;
top:33%;
left:33%;
width:426px;
height:106px;
padding:0px;
text-align: center;
overflow:hidden;
z-index:1100;
background:url(../imgs/logout_bg3.png) no-repeat 0 0;
display:none;
}
.ts_box1{
position: fixed;
top:20%;
left:20%;
width:800px;
height:250px;
padding:0px;
text-align: center;
overflow:hidden;
z-index:1100;
border:10px solid #868686;
display:none;
}
.clear{ clear:both;}