@CHARSET "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    height: 100%;
    font-size: 12px; 
    font-family:'Microsoft YaHei','Times New Roman','华文细黑','宋体','Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    background:#fafafa;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    -khtml-user-select: none; 
    user-select: none; 
}

.create-game-content{
    float: left;
	border: 1px solid #dcdcdc;
}

.create-game-content-wh{
	width: 500px;
	height: 760px;
}

.create-game-row{
	float: left;
	width: 498px;
	height: 40px;
}
.create-game-span{
	float: left;
	width: 130px;
	height: 38px;	
	line-height: 38px;
}
.create-game-input{
	margin-left: 8px; 
	float: left;
	width: 210px;
	height: 30px;	
	line-height: 30px;
	border-bottom: 1px solid #000000;
}
.create-game-span-style{
	float: right;
	font-size: 16px
}
.create-game-input input[type="text"]{
    float:left;
    width:210px;
    height:30px;
    background:#fff;
    border:0;
    outline:medium;
    padding:0px;
    font-size:14px;
    line-height:30px;
}

.create-game-date{
	float: left;
	width: 30px;
	height: 30px;	
	line-height: 30px;
}

.create-game-date-space{
	float: left;
	width: 20px;
	height: 30px;	
	line-height: 30px;
}

#game-start-year, #game-end-year, 
#game-enroll-start-year,
#game-enroll-end-year{
	margin-top: 10px;
    width: 55px;
    height: 20px;
}

#game-start-month,#game-start-month,#game-start-day,
#game-start-hour,#game-start-minute,
#game-end-month,#game-end-day,
#game-end-hour,#game-end-minute,
#game-enroll-start-month,#game-enroll-start-day,
#game-enroll-start-hour,#game-enroll-start-minute,
#game-enroll-end-month,#game-enroll-end-day,
#game-enroll-end-hour,#game-enroll-end-minute{
	margin-top: 10px;
    width: 40px;
    height: 20px;
}