<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd   
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd   
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd   
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	">
	<context:component-scan base-package="itaf.core" />
	<context:component-scan base-package="itaf.fish" />
	<!-- <aop:aspectj-autoproxy /> -->
	 <aop:aspectj-autoproxy proxy-target-class="true"/>
	<import resource="applicationContext-webmvc.xml" />
	<bean id="exceptionResolver" class="itaf.core.web.ExceptionHandler" />
	
	<bean id="traceApsect" class="itaf.core.monitor.trace.TraceApsect"/>
	<!-- 引入配置文件 -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		lazy-init="true">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath*:datasource.properties</value>
			</list>
		</property>
	</bean>

	<!-- 数据源 -->
	<!-- <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" 
		destroy-method="close"> <property name="driverClassName" value="org.h2.Driver"></property> 
		n内存模式 <property name="url" value="jdbc:h2:mem:test;MODE=Oracle"></property> 
		文件模式 <property name="url" value="jdbc:h2:/Users/liuzhq/Documents/010myapp/office/code/java/office-web/db/test;MODE=Oracle"></property> 
		<property name="user" value="sa" /> <property name="password" value="sa" 
		/> </bean> -->


	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
		init-method="init" destroy-method="close">
		<!-- 基本属性 url、user、password -->
		<property name="driverClassName" value="${datasource.driver}" />
		<property name="url" value="${datasource.url}" />
		<property name="username" value="${datasource.username}" />
		<property name="password" value="${datasource.password}" />
		<property name="filters" value="${datasource.filters}" />
		<!-- 配置初始化大小、最小、最大 -->
		<property name="initialSize" value="${datasource.initialSize}" />
		<property name="minIdle" value="${datasource.minIdle}" />
		<property name="maxActive" value="${datasource.maxActive}" />
		<!-- 配置获取连接等待超时的时间 -->
		<property name="maxWait" value="${datasource.maxWait}" />
		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		<property name="timeBetweenEvictionRunsMillis" value="${datasource.timeBetweenEvictionRunsMillis}" />
		<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="${datasource.minEvictableIdleTimeMillis}" />

		<property name="validationQuery" value="${datasource.validationQuery}" />
		<property name="testWhileIdle" value="${datasource.testWhileIdle}" />
		<property name="testOnBorrow" value="${datasource.testOnBorrow}" />
		<property name="testOnReturn" value="${datasource.testOnReturn}" />
		<!-- 是否缓存preparedStatement，也就是PSCache。PSCache对支持游标的数据库性能提升巨大，比如说oracle。在mysql下建议关闭 -->
		<property name="poolPreparedStatements" value="${datasource.poolPreparedStatements}" />
		<!-- 打开PSCache，并且指定每个连接上PSCache的大小 -->
		<property name="maxPoolPreparedStatementPerConnectionSize"
			value="${datasource.maxPoolPreparedStatementPerConnectionSize}" />
	</bean>

	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean"> 
		<property name="configLocation" value="classpath:sqlmap/sqlMapConfig.xml" /> <!-- iBatis sqlmap config 文件位置 -->
		<property name="dataSource" ref="dataSource" /> <!-- 在SpringFramework配置文件中使用的数据源 -->
	</bean>
	<!--根据sqlMapClien创建一个SqlMapClient模版类 -->
	<bean id="sqlMapClientTemplate" class="itaf.core.dao.simple.ItafSqlMapClientTemplate">
		<property name="sqlMapClient">
			<ref bean="sqlMapClient" />
		</property>
	</bean>

	<bean id="sequence" class="itaf.core.sequence.support.SnowflakeSequence">
		<property name="workerId" value="0" />
		<property name="datacenterId" value="0" />
	</bean>


</beans> 
	
